VisualStudioTest/VisualStudioTest/VisualStudioTest.vcxproj.filters
VisualStudioTest/VisualStudioTest/VisualStudioTest.vcxproj
VisualStudioTest/VisualStudioTest/Movie.avi
VisualStudioTest/VisualStudioTest.sln
VisualStudioTest/VisualStudioTest.v12.suo